__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.img
*.so
*.zip
*.7z
build/
dist/
out/
experiments/
logs/
pre-release/
*.spec
tools/springpeace-oneclick/build/
tools/springpeace-oneclick/build-gui/
tools/springpeace-oneclick/dist/
tools/springpeace-oneclick/vendor/
